{# settings/header.html.twig #}

<div
  class="navbar navbar-default navbar-component navbar-xs systemsettings">

  <div
    id="navbar-filter"
    class="navbar-collapse collapse">

    <ul
      class="nav navbar-nav">

      <li>

        <a
          title=""
          class="tip legitRipple"
          data-original-title="Основные параметры"
          href="javascript:ChangeOption('general');">

          <i
            class="fa fa-gear"
            style="margin-right: 3px;"></i>

          Основное

        </a>

      </li>

      <li>

        <a
          title=""
          class="tip legitRipple"
          data-original-title="Источники данных"
          href="javascript:ChangeOption('sources');">

          <i
            class="fa fa-globe"
            style="margin-right: 3px;"></i>

          Источники

        </a>

      </li>

      <li>

        <a
          title=""
          class="tip legitRipple"
          data-original-title="Параметры фидов"
          href="javascript:ChangeOption('feeds');">

          <i
            style="margin-right: 4px;"
            class="fa fa-cloud-download"></i>

          Фиды

        </a>

      </li>

      <li>

        <a
          title=""
          class="tip legitRipple"
          data-original-title="Дополнительные поля"
          href="javascript:ChangeOption('extra-fields');">

          <i
            class="fa fa-list-ul"
            style="margin-left: 3px; margin-right: 5px;"></i>

          Доп. поля

        </a>

      </li>

      <li>

        <a
          title=""
          class="tip legitRipple"
          data-original-title="Данные"
          href="javascript:ChangeOption('data');">

          <i
            class="fa fa-flask"
            style="margin-right: 3px;"></i>

          Данные

        </a>

      </li>

      <li>

        <a
          title=""
          class="tip legitRipple"
          href="javascript:ChangeOption('downloads');"
          data-original-title="Параметры загрузок">

          <i
            class="fa fa-arrow-circle-o-down"
            style="margin-right: 3px; font-size: 17px;"></i>

          Загрузки

        </a>

      </li>

      <li>

        <a
          title=""
          class="tip legitRipple"
          data-original-title="Прокси-сервер"
          href="javascript:ChangeOption('proxy');">

          <i
            class="fa fa-umbrella"
            style="margin-right: 3px;"></i>

          Прокси

        </a>

      </li>

    </ul>

  </div>

</div>
