
<div
  style='display: none;'
  title='Поиск материала'
  class='kc__autocomplete__suggestion-dialog'>

  <!-- Search Query -->
  <div
    class="kc__autocomplete__suggestion-dialog__search-query">

    <!-- Label of Search Query -->
    <label
      class="kc__autocomplete__suggestion-dialog__search-query__label">
      Поиск:
    </label>

    <!-- Field of Search Query -->
    <input
      type="text"
      maxlength="350"
      name="searchQuery"
      placeholder="введите название материала"
      class="kc__autocomplete__suggestion-dialog__search-query__field form-control">

  </div>

  <!-- Errors -->
  <div
    class="kc__autocomplete__suggestion-dialog__errors">
  </div>

  <!-- Content -->
  <div
    class="kc__autocomplete__suggestion-dialog__content">
  </div>

</div>