<div
  class="kc__autocomplete__dummy-ticket">

  <!-- Thumbnail -->
  <div
    class="kc__autocomplete__dummy-ticket__thumbnail">

  </div>

  <!-- Info -->
  <div
    class="kc__autocomplete__dummy-ticket__info">

    <!-- Text -->
    <div
      style="max-width: 220px; height: 16px;"
      class="kc__autocomplete__dummy-ticket__text">
    </div>

    <!-- Text -->
    <div
      class="kc__autocomplete__dummy-ticket__text"
      style="max-width: 70px; height: 14px; margin-top: 10px; opacity: .6;">
    </div>

    <!-- Text -->
    <div
      class="kc__autocomplete__dummy-ticket__text"
      style="max-width: 95px; height: 14px; margin-top: auto;">
    </div>

  </div>

</div>
