
<button
  class="kc__autocomplete__trigger-button btn bg-danger-800 btn-sm btn-raised legitRipple position-left">

  Автокомплит

  <span
    class="legitRipple-ripple"
    style="left: 70.0921%; top: 1.5067%; transform: translate3d(-50%, -50%, 0px); transition-duration: 0.2s, 0.5s; width: 203.196%;">
  </span>

</button>