
<div
  title='Неполадки'
  style='display: none;'
  class='kc__autocomplete__errors-dialog'>

  <!-- Info -->
  <div
    class="kc__autocomplete__errors-dialog__info">
    В настройках модуля Kinocomplete включена опция "Автокомплит",
    однако работа данной функции недоступна из-за ошибок указанных
    ниже.
  </div>

  <!-- Errors -->
  <div
    class="kc__autocomplete__errors-dialog__errors">

  </div>

</div>