{# settings/header.html.twig #}

<div
  class="box">

  <div
    class="box-content">

    <div
      class="row box-section">

      <ul
        class="settingsb">

        <li
          style="min-width: 110px; vertical-align: top;">

          <a
            title=""
            class="tip"
            data-original-title="Основные параметры"
            href="javascript:ChangeOption('general');">

            <i
              class="icon-cog"
              style="display: inline-block; height: 32px; font-size: 28px; position: relative; top: 2px;">
            </i>

            <span>
              Основное
            </span>

          </a>

        </li>

        <li
          style="min-width: 110px;">

          <a
            title=""
            class="tip"
            data-original-title="Источники данных"
            href="javascript:ChangeOption('sources');">

            <i class="icon-globe"></i>

            <span>
              Источники
            </span>

          </a>

        </li>

        <li
          style="min-width: 110px; vertical-align: top;">

          <a
            title=""
            class="tip"
            data-original-title="Параметры фидов"
            href="javascript:ChangeOption('feeds');">

            <i
              class="icon-cloud-download"
              style="display: inline-block; height: 32px; font-size: 30px; position: relative; top: 2px; left: 1px;">
            </i>

            <span>
              Фиды
            </span>

          </a>

        </li>

        <li
          style="min-width: 110px; vertical-align: top;">

          <a
            title=""
            class="tip"
            data-original-title="Дополнительные поля"
            href="javascript:ChangeOption('extra-fields');">

            <i
              class="icon-list-ul"
              style="display: inline-block; height: 32px; font-size: 28px; position:relative; top: 2px;">
            </i>

            <span>
              Доп. поля
            </span>

          </a>

        </li>

        <li
          style="min-width: 110px; vertical-align: top;">

          <a
            title=""
            class="tip"
            data-original-title="Данные"
            href="javascript:ChangeOption('data');">

            <i
              class="icon-beaker"
              style="display: inline-block; height: 32px; font-size: 27px; position: relative; top: 2px;">
            </i>

            <span>
              Данные
            </span>

          </a>

        </li>

        <li
          style="min-width: 110px; vertical-align: top;">

          <a
            title=""
            class="tip"
            href="javascript:ChangeOption('downloads');"
            data-original-title="Параметры загрузок">

            <i
              class="icon-download"
              style="display: inline-block; height: 32px; font-size: 31px; position: relative;">
            </i>

            <span>
              Загрузки
            </span>

          </a>

        </li>

        <li
          style="min-width: 110px; vertical-align: top;">

          <a
            title=""
            class="tip"
            data-original-title="Прокси-сервер"
            href="javascript:ChangeOption('proxy');">

            <i
              class="icon-umbrella"
              style="display: inline-block; height: 32px; font-size: 28px; position: relative; top: 2px;">
            </i>

            <span>
              Прокси
            </span>

          </a>

        </li>

      </ul>

    </div>

  </div>

</div>
