
{% set warnings = warnings ? warnings : diagnostics.getWarnings() %}

{% if warnings|length %}

  <div
    style="margin-bottom: 20px;">

    {% for message in warnings %}

      <div
        class="alert alert-warning"
        style="padding: 10px; margin-bottom: 8px;">
        {{ message }}
      </div>

    {% endfor %}

  </div>

{% endif %}